.clients {
  margin-bottom: 150px;
}
.clients-slide {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.clients-slide__img {
  max-width: 510px;
  width: 100%;
}

.clients__info {
  position: relative;
  max-width: 555px;
  width: 100%;
}

.clients-slide__title {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.clients-slide__items {
  margin-left: 50px;
}

.clients-slide__item {
  font-size: 14px;
  line-height: 19px;
  display: block;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.clients-arrow-prev {
  left: 270px;
}

.clients-arrow-next {
  left: 332px;
}

.clients__sign-block {
  border-color: #000;
}

.clients__sign-arrow {
  background-color: #000;
}

.clients__sign-text {
  color: $black;
}

.clients__sign-up {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  margin-left: 50px;
}
