<footer class="footer" style="background-image: url(img/footer-bg.jpg)">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__form-block">
                <h2 class="footer__form-title">ОСТАВИТЬ ЗАЯВКУ</h2>
                <form class="footer__form" action="">
                    <input class="footer__form-name" required type="text" placeholder="Имя">
                    <input class="footer__form-tel" type="tel" placeholder="Телефон"
                           pattern="[0-9]{10}" title="0123456789" required>
                    <button class="footer__sign-up arrow-with-txt">
                        <span class="arrow-with-txt__arrow-block">
                            <span class="arrow-with-txt__arrow"></span>
                      </span>
                        <span class="arrow-with-txt__txt">записаться на консультацию</span>
                    </button>
                </form>
            </div>
            <div class="footer__contacts">
                <h2 class="footer__contacts-title">КОНТАКТЫ</h2>
                <ul class="footer__contacts-items">
                    <li class="footer__contacts-item">
                        Центральный офис:
                        <span>г. Москва, ул,Гоголя 13, 1й этаж</span>
                    </li>
                    <li class="footer__contacts-item">
                        Представительство в Киеве:
                        <span>г. Киев, ул. Є. Коновальця, 103 оф. 410</span>
                    </li>
                    <li class="footer__contacts-item">Представительства в Харькове, Одессе, Ростове, Сочи, Белгороде
                    </li>
                    <li class="footer__contacts-item">
                        <a href="tel:79876545456">+7 987 654-54-56</a>
                        <span>
                            <a href="tel:380675043257">+38 067 504-32-57</a>
                        </span>
                    </li>
                    <li class="footer__contacts-item">Ежедневно 08:00 - 20:00</li>
                </ul>
            </div>
        </div>
        <ul class="footer__items">
            <li class="footer__item">
                <a href="#" class="footer__link">Политика конфиденциальности</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__logo">
                    <img src="img/logo.png" alt="logo">
                </a>
            </li>
            <li class="footer__item">
                <ul class="header__social social">
                    <li class="header__social-item social-item">
                        <a class="header__social-link social-link" href="#">
                            <img class="header__social-instagram social-instagram" src="img/instagram.svg"
                                 alt="instagram">
                        </a>
                    </li>
                    <li class="header__social-item social-item">
                        <a class="header__social-link social-link" href="#">
                            <img class="header__social-telegram social-telegram" src="img/telegram.svg"
                                 alt="telegram">
                        </a>
                    </li>
                    <li class="header__social-item social-item">
                        <a class="header__social-link social-link" href="#">
                            <img class="header__social-whatsapp social-whatsapp" src="img/whatsapp.svg"
                                 alt="whatsapp">
                        </a>
                    </li>
                    <li class="header__social-item social-item">
                        <a class="header__social-link social__link" href="#">
                            <img class="header__social-facebook social-facebook" src="img/facebook.svg"
                                 alt="facebook">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>