<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
@@include("_header.html")
<div class="services">
    <div class="container">
        <h2 class="services__title">УСЛУГИ</h2>
        <div class="services__inner">
            <ul class="services__items">
                <li class="services__item">
                    <h3 class="services__item-title">Полный комплект солнечной электростанции
                    </h3>
                    <span class="services__text">
                    74 модели солнечных панелей, 31 модель инверторов, провода с повышенной устойчивостью к атмосферным условиям, качественные соединители, контроллеры зарядов и надежные гелевые аккумуляторы с увеличенным сроком службы.
                </span>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">Подбор оборудования
                        с максимальной производительностью
                    </h3>
                    <span class="services__text">
                    Подбираем солнечные панели с учетом расположения Вашего дома, количеством прямого и рассеянного излучения, для того, чтобы Ваша электростанция - вырабатывала максимальное количество электроэнергии и окупилась как можно быстрее.
                </span>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">Монтаж оборудования в соответствии с ГОСТом
                    </h3>
                    <span class="services__text">
                    Монтаж производится в точном соответствии с ГОСТом, с учетом закона о «Зеленом тарифе» и требованиями Облэнерго. При этом, мы учитываем, чтобы солнечная станция имела максимально возможную производительность.
                </span>
                </li>
                <li class="services__item">
                    <h3 class="services__item-title">Помощь в подключении к «Зеленому тарифу»
                    </h3>
                    <span class="services__text">
                    Всю бюрократическую процедуру по подключению Вашей электростанции к «Зеленому тарифу», мы берем на себя, в том числе по увеличению договорной мощности вашего дома. При заказе солнечной электростанции эта услуга абсолютно бесплатна.
                </span>
                </li>
            </ul>
            <img class="services__img" src="img/services-1.jpg" alt="solar panels">
        </div>
    </div>
</div>
<script src="js/main.min.js"></script>
</body>
</html>